* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  line-height: calc(16px * 1.3);
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  width: 350px;
}

main img,
main div {
  border: 1px solid black;
  border-radius: 16px;
}

main img {
  width: 100%;
}

main div {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
