#layout-pagewrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 40px;
    overflow-x: hidden;
}

#layout-pagewrapper-body {
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}