#layout-pagewrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    overflow-x: hidden;
}

#layout-pagewrapper-body {
    border-top: 1px solid #ddd;
    height: calc(100vh - 80px);
    overflow-y: auto;
    overflow-x: hidden;
}