#components-header {
    display: grid;
    grid-template-columns: repeat(4, 24px);
    gap: 24px;
    place-items: center;
    width: fit-content;
    margin: 0 auto;
}

#components-header > img {
    width: 18px;
}

#components-header > button {
    height: calc(24px + 8px + 8px);
    padding: 8px;
}