* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 16px;
  line-height: calc(16px * 1.3);
}

body {
  width: 100vw;
  height: 100vh;
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;

  /* SHAPE */
  background-color: #DDD;
  border: 1px solid blue;
  width: fit-content;
  border-radius: 100px;
  padding: 0 8px;

  /* TEXT */
  color: blue;
  font-size: 12px;
  text-decoration: none;
}